.selected { background-color: #486A6B; }#newnavigation_main a:link, #newnavigation_main a:visited { display: block; width: 150px; color: white; font-size: 13px; text-decoration: none; text-align: center; background-color: #749899; padding-top: 5px;  padding-bottom: 5px; border-bottom: 1px solid #CCCCCC; }#newnavigation_main a:hover { background-color: #CCCCCC;}#newnavigation_sub a:link, #newnavigation_sub a:visited { display: block; margin-left: 25px; width: 125px; color: white; font-size: 11px; text-decoration: none; text-align: center; background-color: #749899; padding-top: 5px;  padding-bottom: 5px; border-bottom: 1px solid #CCCCCC; }#newnavigation_sub a:hover { background-color: #CCCCCC;}#newnavigation_separator { display: block; margin-left: 25px; width: 125px; color: white; font-size: 11px; text-decoration: none; text-align: center; background-color: #749899; padding-top: 5px;  padding-bottom: 5px; border-bottom: 1px solid #CCCCCC;}.HeaderStyle {  font-size: 18px; color: #666666;}.SubHeaderStyle {  font-size: 14px; color: #666666;}.TextStyle {  font-size: 12px; color: #00000;}.SubTextStyle {  font-size: 10px; color: #333333;}.TitleStyle {  font-size: 32px; color: #FFFFFF; font-weight: bold; margin-left: 15px; position: relative; top: 55px;}.SloganStyle {  font-size: 12px; color: #FFFFFF; margin-left: 15px; position: relative; top: 55px;}




a:link {
text-decoration: underline;
}

a:hover {
text-decoration: none;
}








body {
			text-align: justify !important;
		}
body {			padding: 0;			margin: 0;			background-color: #CCCCCC;			color:#666;			font-family: Georgia, Helvetica, sans-serif;			font-size:.8em;			background-image:url('http://en.wikipedia.org/wiki/File:Doubleslit3Dspectrum.gif');		}				#container {			width: 632px;			border: 1px solid #000;			margin: 10px;			margin-left: auto;			margin-right: auto;			padding: 0px;			background-color: #CCC;		}		#header {			padding: 0px;			margin-bottom: 0;			height:116px;			border-bottom:1px solid #000;			background:#336666 url("images/footerbg.gif") repeat top left;			width: 632px;		}}h1 span{display:none;}		#content {			padding: 5px;			margin-left: 150px;			background-color: #FFF;			border-left:1px solid #000;			padding-bottom:200px;			width: 471px;		}		p {	margin:0px 0px 5px 0px;	padding:0px;	}		#footer {			clear: both;			padding: 0px;			margin:0;			background:#336666 url("images/footerbg.gif") no-repeat top left;			height:21px;			border-top:1px solid #000;			color:#FFF;			text-align:center;			font-size:11px;			padding-top: 8px;		}						#footer span{		float:right;		}						#footer a {				color:#FFF;		}							#footer a:hover {					color:#FF3399;		}						#navcontainer {			float: left;			width: 150px;			\width: 160px;			w\idth: 150px;			margin: 0;			margin-right: 0px;			padding: 0px;			background-color: #CCCCCC;			}#navcontainer ul{margin-left: 0;padding-left: 0;list-style-type: none;font-family: Georgia, Helvetica, sans-serif;}h2{font-family: Georgia, Helvetica, sans-serif;font-size:1em;font-weight:800;}#navcontainer h2{color:#669999;text-align:center;font-size:1em;}


a img {border:none;}